body {
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	min-width: 325px;
	max-width: 1440px;
	margin: auto;
	overflow-x: hidden;
	height: auto;
	margin: auto;
	background-color: #fde8c6;
	background-size: contain;
}
.food {
	width: 100%;
	margin-top: 90px;
	margin-bottom: 90px;
	border: 6px solid #66211352;
	border-radius: 17px;
	background-color: #fef4e4;
	height: 819px
}
.navbar{
	width: 100%;
	height: 70px;
}
.navbar .container{
	height: inherit;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1%;
}
.navbarwrap{
	display: flex;
	flex-flow: row nowrap;
}
.navbarmenu{
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}
.navbarmenu li{
	display: inline-block;
	margin-right: 30px;
}
.papa{
	color: #662113;
	padding: 4px;
}
.paw{
	text-decoration: none;
	pointer-events: none;
	font-size: 27px;
	display: flex;
	align-items: center;
 	font-family: "Alegreya Sans", italic;
  	font-weight: 900;
  	font-style: normal;
	color: #5F1606C4;
}
.navbarmenu li a{
	text-decoration: none;
	font-size: 25px;
	color: #662113;
	border: 3px solid #662113;
	padding: 10px 10px;
	border-radius: 13px;
	font-weight: 700;
	background-color: #F5F2EC;
}
.navbarmenu li a:hover{
	text-decoration: none;
	font-size: 25px;
	color: white;
	border: 3px solid #662113;
	padding: 10px 10px;
	border-radius: 13px;
	font-weight: 700;
	background-color: #5F16068F;
}
.corm{
	height: 91px;
}
.ellipse {
	width: 520.16px; 
	height: 505.27px;
	background: #8E594E94;
	background-size: 375px;
	border-radius: 110% 40% 50% 50%;
	background-repeat: no-repeat;
	transform: rotate(4deg);
}
.wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.fr .container{
	margin: 1%;
	margin-top: 5%;
}
.left h1{
	font-size: 60px;
	color: #5F1606C4;
	align-items: center;
	font-weight: 700;
}

.sobaki img{
	height: 454px;
	size: cover;
	transform: rotate(7deg);
}
.left .shop{
	padding: 20px;
	background-color: #5F1606C4;
	border-radius: 22px;
	text-decoration: none;
	color: white;
	font-weight: 700;
	margin-left: 15%;
	font-size: 31px;
}
.left p{
	color:#662113D6;
	font-size: 26px;
	margin-bottom: 20%;
}
.face{
	list-style-type: none;
	padding-left: 0;
	margin-left: 15%;
	margin-top: 22%;
	margin-bottom: 0;
}
.face li{
	display: inline-block;
}
.face li a{
	color: white;
	background-color: #662113D6;
	text-decoration: none;
	padding: 10px;
	display: flex;
	font-size: 30px;
	align-items: center;
	border-radius: 25px;
}
.ellipse img{
	height: 286.76px;
	float: right;
	margin-top: 50%;
}
@media (min-width: 430px) and (max-width: 500px) {
	.navbarmenu li{
		display: inline-block;
		margin-right: auto;
	}
	.navbar{
		margin-top: 3%;
	}
	.food {
		width: auto;
		margin-top: auto;
		margin-bottom: auto;
		border: 6px solid #66211352;
		border-radius: 17px;
		background-color: #fef4e4;
		height: auto;
	}
	.ellipse{
		display: none;
	}
	.left h1{
		font-size: 40px;
		color: #5F1606C4;
		align-items: center;
		margin-top: 2%;
		justify-content: center;
		font-weight: 700;
	}
	.navbarmenu li a{
		text-decoration: none;
		font-size: 13px;
		color: #662113;
		border: 2px solid #662113;
		padding: 7px 7px;
		border-radius: 9px;
		font-weight: 700;
		background-color: #F5F2EC;
	}
	.paw{
		text-decoration: none;
		pointer-events: none;
		font-size: 17px;
		display: flex;
		align-items: center;
 		font-family: "Alegreya Sans", italic;
  		font-weight: 900;
  		font-style: normal;
		color: #5F1606C4;
	}
	.navbarmenu li a:hover{
		text-decoration: none;
		font-size: 14px;
		color: white;
		border: 2px solid #662113;
		padding: 2px 2px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #5F16068F;
	}
	.navbar .container{
		height: inherit;
		display: grid;
		text-align: center;
		align-items: center;
		justify-content: space-between;
		margin: auto;
	}
	.navbarwrap{
		margin-top: 5%;
	}
	.corm{
		height: 50px;
	}
	.navbar{
		width: auto;
		height: 70px;
	}
	.left{
		width: auto;
	}
	.left p{
		color:#662113D6;
		font-size: 16px;
		margin-bottom: 10%;
	}
	.left .shop{
		padding: 10px;
		background-color: #5F1606C4;
		border-radius: 16px;
		text-decoration: none;
		color: white;
		font-weight: 700;
		margin-left: 29%;
		font-size: 20px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 1fr;
	}
	.face{
		list-style-type: none;
		padding-left: 0;
		margin-left: 27%;
		margin-top: 10%;
		margin-bottom: 0;
	}
	.face li a{
		color: white;
		background-color: #662113D6;
		text-decoration: none;
		padding: 7px;
		display: flex;
		font-size: 20px;
		align-items: center;
		border-radius: 25px;
	}
}


@media (min-width: 390px) and (max-width: 400px) {
	.navbarmenu li{
		display: inline-block;
		margin-right: auto;
	}
	.food {
		width: auto;
		margin-top: auto;
		margin-bottom: auto;
		border: 6px solid #66211352;
		border-radius: 17px;
		background-color: #fef4e4;
		height: auto;
	}
	.ellipse{
		display: none;
	}
	.left h1{
		font-size: 40px;
		color: #5F1606C4;
		align-items: center;
		justify-content: center;
		font-weight: 700;
		margin-top: -20px;
	}
	.navbarmenu li a{
		text-decoration: none;
		font-size: 11px;
		color: #662113;
		border: 2px solid #662113;
		padding: 2px 2px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #F5F2EC;
	}
	.paw{
		text-decoration: none;
		pointer-events: none;
		font-size: 14px;
		display: flex;
		align-items: center;
 		font-family: "Alegreya Sans", italic;
  		font-weight: 900;
  		font-style: normal;
		color: #5F1606C4;
	}
	.navbarmenu li a:hover{
		text-decoration: none;
		font-size: 14px;
		color: white;
		border: 2px solid #662113;
		padding: 2px 2px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #5F16068F;
	}
	.navbar .container{
		height: inherit;
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: space-between;
		margin: auto;
	}
	.corm{
		height: 50px;
	}
	.navbar{
		width: auto;
		height: 70px;
	}
	.left{
		width: auto;
	}
	.left p{
		color:#662113D6;
		font-size: 16px;
		margin-bottom: 10%;
	}
	.left .shop{
		padding: 4px;
		background-color: #5F1606C4;
		border-radius: 22px;
		text-decoration: none;
		color: white;
		font-weight: 700;
		margin-left: 29%;
		font-size: 20px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 1fr;
	}
	.face{
		list-style-type: none;
		padding-left: 0;
		margin-left: 27%;
		margin-top: 10%;
		margin-bottom: 0;
	}
	.face li a{
		color: white;
		background-color: #662113D6;
		text-decoration: none;
		padding: 5px;
		display: flex;
		font-size: 20px;
		align-items: center;
		border-radius: 25px;
	}
}
@media (min-width: 375px) and (max-width: 375px) {
	.navbarmenu li{
		display: inline-block;
		margin-right: auto;
	}
	.food {
		width: auto;
		margin-top: auto;
		margin-bottom: auto;
		border: 6px solid #66211352;
		border-radius: 17px;
		background-color: #fef4e4;
		height: auto;
	}
	.ellipse{
		display: none;
	}
	.left h1{
		font-size: 40px;
		color: #5F1606C4;
		align-items: center;
		justify-content: center;
		font-weight: 700;
	}
	.navbarmenu li a{
		text-decoration: none;
		font-size: 12px;
		color: #662113;
		border: 2px solid #662113;
		padding: 4px 4px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #F5F2EC;
	}
	.paw{
		text-decoration: none;
		pointer-events: none;
		font-size: 14px;
		display: flex;
		align-items: center;
 		font-family: "Alegreya Sans", italic;
  		font-weight: 900;
  		font-style: normal;
		color: #5F1606C4;
	}
	.navbarmenu li a:hover{
		text-decoration: none;
		font-size: 13px;
		color: white;
		border: 2px solid #662113;
		padding: 4px 4px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #5F16068F;
	}
	.navbar .container{
		height: inherit;
		display: grid;
		text-align: center;
		align-items: center;
		justify-content: space-between;
		margin: auto;
	}
	.corm{
		height: 50px;
	}
	.navbar{
		width: auto;
		height: 70px;
	}
	.left{
		width: auto;
	}
	.left p{
		color:#662113D6;
		font-size: 16px;
		margin-bottom: 10%;
	}
	.left .shop{
		padding: 5px;
		background-color: #5F1606C4;
		border-radius: 22px;
		text-decoration: none;
		color: white;
		font-weight: 700;
		margin-left: 31%;
		font-size: 17px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 1fr;
	}
	.face{
		list-style-type: none;
		padding-left: 0;
		margin-left: 27%;
		margin-top: 10%;
		margin-bottom: 0;
	}
	.face li a{
		color: white;
		background-color: #662113D6;
		text-decoration: none;
		padding: 5px;
		display: flex;
		font-size: 20px;
		align-items: center;
		border-radius: 25px;
	}
}
@media (min-width: 414px) and (max-width: 414px) {
	.navbarmenu li{
		display: inline-block;
		margin-right: auto;
	}
	.food {
		width: auto;
		margin-top: auto;
		margin-bottom: auto;
		border: 6px solid #66211352;
		border-radius: 17px;
		background-color: #fef4e4;
		height: auto;
	}
	.ellipse{
		display: none;
	}
	.left h1{
		font-size: 40px;
		color: #5F1606C4;
		align-items: center;
		justify-content: center;
		font-weight: 700;
	}
	.navbarmenu li a{
		text-decoration: none;
		font-size: 12px;
		color: #662113;
		border: 2px solid #662113;
		padding: 4px 4px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #F5F2EC;
	}
	.paw{
		text-decoration: none;
		pointer-events: none;
		font-size: 14px;
		display: flex;
		align-items: center;
 		font-family: "Alegreya Sans", italic;
  		font-weight: 900;
  		font-style: normal;
		color: #5F1606C4;
	}
	.navbarmenu li a:hover{
		text-decoration: none;
		font-size: 13px;
		color: white;
		border: 2px solid #662113;
		padding: 4px 4px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #5F16068F;
	}
	.navbar .container{
		height: inherit;
		display: grid;
		text-align: center;
		align-items: center;
		justify-content: space-between;
		margin: auto;
	}
	.corm{
		height: 50px;
	}
	.navbar{
		width: auto;
		height: 70px;
	}
	.left{
		width: auto;
	}
	.left p{
		color:#662113D6;
		font-size: 16px;
		margin-bottom: 10%;
	}
	.left .shop{
		padding: 5px;
		background-color: #5F1606C4;
		border-radius: 22px;
		text-decoration: none;
		color: white;
		font-weight: 700;
		margin-left: 31%;
		font-size: 17px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 1fr;
	}
	.face{
		list-style-type: none;
		padding-left: 0;
		margin-left: 27%;
		margin-top: 10%;
		margin-bottom: 0;
	}
	.face li a{
		color: white;
		background-color: #662113D6;
		text-decoration: none;
		padding: 5px;
		display: flex;
		font-size: 20px;
		align-items: center;
		border-radius: 25px;
	}
}
@media (min-width: 412px) and (max-width: 412px) {
	.navbarmenu li{
		display: inline-block;
		margin-right: auto;
	}
	.food {
		width: auto;
		margin-top: auto;
		margin-bottom: auto;
		border: 6px solid #66211352;
		border-radius: 17px;
		background-color: #fef4e4;
		height: auto;
	}
	.ellipse{
		display: none;
	}
	.left h1{
		font-size: 40px;
		color: #5F1606C4;
		align-items: center;
		justify-content: center;
		font-weight: 700;
	}
	.navbarmenu li a{
		text-decoration: none;
		font-size: 12px;
		color: #662113;
		border: 2px solid #662113;
		padding: 4px 4px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #F5F2EC;
	}
	.paw{
		text-decoration: none;
		pointer-events: none;
		font-size: 14px;
		display: flex;
		align-items: center;
 		font-family: "Alegreya Sans", italic;
  		font-weight: 900;
  		font-style: normal;
		color: #5F1606C4;
	}
	.navbarmenu li a:hover{
		text-decoration: none;
		font-size: 13px;
		color: white;
		border: 2px solid #662113;
		padding: 4px 4px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #5F16068F;
	}
	.navbar .container{
		height: inherit;
		display: grid;
		text-align: center;
		align-items: center;
		justify-content: space-between;
		margin: auto;
	}
	.corm{
		height: 50px;
	}
	.navbar{
		width: auto;
		height: 70px;
	}
	.left{
		width: auto;
	}
	.left p{
		color:#662113D6;
		font-size: 16px;
		margin-bottom: 10%;
	}
	.left .shop{
		padding: 5px;
		background-color: #5F1606C4;
		border-radius: 22px;
		text-decoration: none;
		color: white;
		font-weight: 700;
		margin-left: 31%;
		font-size: 17px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 1fr;
	}
	.face{
		list-style-type: none;
		padding-left: 0;
		margin-left: 27%;
		margin-top: 10%;
		margin-bottom: 0;
	}
	.face li a{
		color: white;
		background-color: #662113D6;
		text-decoration: none;
		padding: 5px;
		display: flex;
		font-size: 20px;
		align-items: center;
		border-radius: 25px;
	}
}
@media (min-width: 768px) and (max-width: 768px) {
	.navbarmenu li{
		display: inline-block;
		margin-right: auto;
	}
	.food {
		width: auto;
		margin-top: auto;
		margin-bottom: auto;
		border: 6px solid #66211352;
		border-radius: 17px;
		background-color: #fef4e4;
		height: auto;
	}
	.ellipse{
		display: none;
	}
	.left h1{
		font-size: 40px;
		color: #5F1606C4;
		align-items: center;
		margin-top: 5%;
		justify-content: center;
		font-weight: 700;
	}
	.navbarmenu li a{
		text-decoration: none;
		font-size: 14px;
		color: #662113;
		border: 2px solid #662113;
		padding: 10px 10px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #F5F2EC;
	}
	.paw{
		text-decoration: none;
		pointer-events: none;
		font-size: 24px;
		display: flex;
		align-items: center;
 		font-family: "Alegreya Sans", italic;
  		font-weight: 900;
  		font-style: normal;
		color: #5F1606C4;
	}
	.navbarmenu li a:hover{
		text-decoration: none;
		font-size: 13px;
		color: white;
		border: 2px solid #662113;
		padding: 10px 10px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #5F16068F;
	}
	.navbar .container{
		height: inherit;
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: space-between;
		margin: auto;
	}
	.corm{
		height: 50px;
	}
	.navbar{
		width: auto;
		height: 70px;
	}
	.left{
		width: auto;
	}
	.left p{
		color:#662113D6;
		font-size: 16px;
		margin-bottom: 13%;
	}
	.left .shop{
		padding: 15px;
		background-color: #5F1606C4;
		border-radius: 19px;
		text-decoration: none;
		color: white;
		font-weight: 700;
		margin-left: 39%;
		font-size: 17px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 1fr;
	}
	.face{
		list-style-type: none;
		padding-left: 0;
		margin-left: 38%;
		margin-top: 10%;
		margin-bottom: 0;
	}
	.face li a{
		color: white;
		background-color: #662113D6;
		text-decoration: none;
		padding: 5px;
		display: flex;
		font-size: 20px;
		align-items: center;
		border-radius: 25px;
	}
}
@media (min-width: 912px) and (max-width: 912px) {
	.navbarmenu li{
		display: inline-block;
		margin-right: auto;
	}
	.food {
		width: auto;
		margin-top: auto;
		margin-bottom: auto;
		border: 6px solid #66211352;
		border-radius: 17px;
		background-color: #fef4e4;
		height: auto;
	}
	.ellipse{
		display: none;
	}
	.left h1{
		font-size: 40px;
		color: #5F1606C4;
		align-items: center;
		margin-top: 5%;
		justify-content: center;
		font-weight: 700;
	}
	.navbarmenu li a{
		text-decoration: none;
		font-size: 14px;
		color: #662113;
		border: 2px solid #662113;
		padding: 10px 10px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #F5F2EC;
	}
	.paw{
		text-decoration: none;
		pointer-events: none;
		font-size: 24px;
		display: flex;
		align-items: center;
 		font-family: "Alegreya Sans", italic;
  		font-weight: 900;
  		font-style: normal;
		color: #5F1606C4;
	}
	.navbarmenu li a:hover{
		text-decoration: none;
		font-size: 13px;
		color: white;
		border: 2px solid #662113;
		padding: 10px 10px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #5F16068F;
	}
	.navbar .container{
		height: inherit;
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: space-between;
		margin: auto;
	}
	.corm{
		height: 50px;
	}
	.navbar{
		width: auto;
		height: 70px;
	}
	.left{
		width: auto;
	}
	.left p{
		color:#662113D6;
		font-size: 16px;
		margin-bottom: 13%;
	}
	.left .shop{
		padding: 15px;
		background-color: #5F1606C4;
		border-radius: 19px;
		text-decoration: none;
		color: white;
		font-weight: 700;
		margin-left: 39%;
		font-size: 17px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 1fr;
	}
	.face{
		list-style-type: none;
		padding-left: 0;
		margin-left: 38%;
		margin-top: 10%;
		margin-bottom: 0;
	}
	.face li a{
		color: white;
		background-color: #662113D6;
		text-decoration: none;
		padding: 5px;
		display: flex;
		font-size: 20px;
		align-items: center;
		border-radius: 25px;
	}
}
@media (min-width: 820px) and (max-width: 820px) {
	.navbarmenu li{
		display: inline-block;
		margin-right: auto;
	}
	.food {
		width: auto;
		margin-top: auto;
		margin-bottom: auto;
		border: 6px solid #66211352;
		border-radius: 17px;
		background-color: #fef4e4;
		height: auto;
	}
	.ellipse{
		display: none;
	}
	.left h1{
		font-size: 40px;
		color: #5F1606C4;
		align-items: center;
		margin-top: 5%;
		justify-content: center;
		font-weight: 700;
	}
	.navbarmenu li a{
		text-decoration: none;
		font-size: 14px;
		color: #662113;
		border: 2px solid #662113;
		padding: 10px 10px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #F5F2EC;
	}
	.paw{
		text-decoration: none;
		pointer-events: none;
		font-size: 24px;
		display: flex;
		align-items: center;
 		font-family: "Alegreya Sans", italic;
  		font-weight: 900;
  		font-style: normal;
		color: #5F1606C4;
	}
	.navbarmenu li a:hover{
		text-decoration: none;
		font-size: 13px;
		color: white;
		border: 2px solid #662113;
		padding: 10px 10px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #5F16068F;
	}
	.navbar .container{
		height: inherit;
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: space-between;
		margin: auto;
	}
	.corm{
		height: 50px;
	}
	.navbar{
		width: auto;
		height: 70px;
	}
	.left{
		width: auto;
	}
	.left p{
		color:#662113D6;
		font-size: 16px;
		margin-bottom: 13%;
	}
	.left .shop{
		padding: 15px;
		background-color: #5F1606C4;
		border-radius: 19px;
		text-decoration: none;
		color: white;
		font-weight: 700;
		margin-left: 39%;
		font-size: 17px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 1fr;
	}
	.face{
		list-style-type: none;
		padding-left: 0;
		margin-left: 38%;
		margin-top: 10%;
		margin-bottom: 0;
	}
	.face li a{
		color: white;
		background-color: #662113D6;
		text-decoration: none;
		padding: 5px;
		display: flex;
		font-size: 20px;
		align-items: center;
		border-radius: 25px;
	}
}
@media (min-width: 540px) and (max-width: 540px) {
	.navbarmenu li{
		display: inline-block;
		margin-right: auto;
	}
	.food {
		width: auto;
		margin-top: auto;
		margin-bottom: auto;
		border: 6px solid #66211352;
		border-radius: 17px;
		background-color: #fef4e4;
		height: auto;
	}
	.ellipse{
		display: none;
	}
	.left h1{
		font-size: 40px;
		color: #5F1606C4;
		align-items: center;
		margin-top: 7%;
		justify-content: center;
		font-weight: 700;
	}
	.navbarmenu li a{
		text-decoration: none;
		font-size: 14px;
		color: #662113;
		border: 2px solid #662113;
		padding: 10px 10px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #F5F2EC;
	}
	.paw{
		text-decoration: none;
		pointer-events: none;
		font-size: 24px;
		display: flex;
		align-items: center;
 		font-family: "Alegreya Sans", italic;
  		font-weight: 900;
  		font-style: normal;
		color: #5F1606C4;
	}
	.navbar{
		margin-top: 4%;
	}
	.navbarwrap{
		margin-top: 8%;
	}
	.navbarmenu li a:hover{
		text-decoration: none;
		font-size: 13px;
		color: white;
		border: 2px solid #662113;
		padding: 10px 10px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #5F16068F;
	}
	.navbar .container{
		height: inherit;
		display: grid;
		text-align: center;
		align-items: center;
		justify-content: space-between;
		margin: auto;
	}
	.corm{
		height: 50px;
	}
	.navbar{
		width: auto;
		height: 70px;
	}
	.left{
		width: auto;
	}
	.left p{
		color:#662113D6;
		font-size: 16px;
		margin-bottom: 13%;
	}
	.left .shop{
		padding: 15px;
		background-color: #5F1606C4;
		border-radius: 19px;
		text-decoration: none;
		color: white;
		font-weight: 700;
		margin-left: 39%;
		font-size: 17px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 1fr;
	}
	.face{
		list-style-type: none;
		padding-left: 0;
		margin-left: 38%;
		margin-top: 10%;
		margin-bottom: 0;
	}
	.face li a{
		color: white;
		background-color: #662113D6;
		text-decoration: none;
		padding: 5px;
		display: flex;
		font-size: 20px;
		align-items: center;
		border-radius: 25px;
	}
}
@media (min-width: 344px) and (max-width: 344px) {
	.navbarmenu li{
		display: inline-block;
		margin-right: auto;
	}
	.food {
		width: auto;
		margin-top: auto;
		margin-bottom: auto;
		border: 6px solid #66211352;
		border-radius: 17px;
		background-color: #fef4e4;
		height: auto;
	}
	.ellipse{
		display: none;
	}
	.left h1{
		font-size: 40px;
		color: #5F1606C4;
		align-items: center;
		justify-content: center;
		font-weight: 700;
	}
	.navbarmenu li a{
		text-decoration: none;
		font-size: 12px;
		color: #662113;
		border: 2px solid #662113;
		padding: 4px 4px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #F5F2EC;
	}
	.paw{
		text-decoration: none;
		pointer-events: none;
		font-size: 14px;
		display: flex;
		align-items: center;
 		font-family: "Alegreya Sans", italic;
  		font-weight: 900;
  		font-style: normal;
		color: #5F1606C4;
	}
	.navbarmenu li a:hover{
		text-decoration: none;
		font-size: 13px;
		color: white;
		border: 2px solid #662113;
		padding: 4px 4px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #5F16068F;
	}
	.navbar .container{
		height: inherit;
		display: grid;
		text-align: center;
		align-items: center;
		justify-content: space-between;
		margin: auto;
	}
	.corm{
		height: 50px;
	}
	.navbar{
		width: auto;
		height: 70px;
	}
	.left{
		width: auto;
	}
	.left p{
		color:#662113D6;
		font-size: 16px;
		margin-bottom: 10%;
	}
	.left .shop{
		padding: 5px;
		background-color: #5F1606C4;
		border-radius: 22px;
		text-decoration: none;
		color: white;
		font-weight: 700;
		margin-left: 31%;
		font-size: 17px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 1fr;
	}
	.face{
		list-style-type: none;
		padding-left: 0;
		margin-left: 27%;
		margin-top: 10%;
		margin-bottom: 0;
	}
	.face li a{
		color: white;
		background-color: #662113D6;
		text-decoration: none;
		padding: 5px;
		display: flex;
		font-size: 20px;
		align-items: center;
		border-radius: 25px;
	}
}
@media (min-width: 853px) and (max-width: 853px) {
	.navbarmenu li{
		display: inline-block;
		margin-right: auto;
	}
	.food {
		width: auto;
		margin-top: auto;
		margin-bottom: auto;
		border: 6px solid #66211352;
		border-radius: 17px;
		background-color: #fef4e4;
		height: auto;
	}
	.ellipse{
		display: none;
	}
	.left h1{
		font-size: 40px;
		color: #5F1606C4;
		align-items: center;
		margin-top: 5%;
		justify-content: center;
		font-weight: 700;
	}
	.navbarmenu li a{
		text-decoration: none;
		font-size: 14px;
		color: #662113;
		border: 2px solid #662113;
		padding: 10px 10px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #F5F2EC;
	}
	.paw{
		text-decoration: none;
		pointer-events: none;
		font-size: 24px;
		display: flex;
		align-items: center;
 		font-family: "Alegreya Sans", italic;
  		font-weight: 900;
  		font-style: normal;
		color: #5F1606C4;
	}
	.navbarmenu li a:hover{
		text-decoration: none;
		font-size: 13px;
		color: white;
		border: 2px solid #662113;
		padding: 10px 10px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #5F16068F;
	}
	.navbar .container{
		height: inherit;
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: space-between;
		margin: auto;
	}
	.corm{
		height: 50px;
	}
	.navbar{
		width: auto;
		height: 70px;
	}
	.left{
		width: auto;
	}
	.left p{
		color:#662113D6;
		font-size: 16px;
		margin-bottom: 13%;
	}
	.left .shop{
		padding: 15px;
		background-color: #5F1606C4;
		border-radius: 19px;
		text-decoration: none;
		color: white;
		font-weight: 700;
		margin-left: 39%;
		font-size: 17px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 1fr;
	}
	.face{
		list-style-type: none;
		padding-left: 0;
		margin-left: 38%;
		margin-top: 10%;
		margin-bottom: 0;
	}
	.face li a{
		color: white;
		background-color: #662113D6;
		text-decoration: none;
		padding: 5px;
		display: flex;
		font-size: 20px;
		align-items: center;
		border-radius: 25px;
	}
}
@media (min-width: 360px) and (max-width: 360px) {
	.navbarmenu li{
		display: inline-block;
		margin-right: auto;
	}
	.food {
		width: auto;
		margin-top: auto;
		margin-bottom: auto;
		border: 6px solid #66211352;
		border-radius: 17px;
		background-color: #fef4e4;
		height: auto;
	}
	.ellipse{
		display: none;
	}
	.left h1{
		font-size: 40px;
		color: #5F1606C4;
		align-items: center;
		justify-content: center;
		font-weight: 700;
	}
	.navbarmenu li a{
		text-decoration: none;
		font-size: 12px;
		color: #662113;
		border: 2px solid #662113;
		padding: 4px 4px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #F5F2EC;
	}
	.paw{
		text-decoration: none;
		pointer-events: none;
		font-size: 14px;
		display: flex;
		align-items: center;
 		font-family: "Alegreya Sans", italic;
  		font-weight: 900;
  		font-style: normal;
		color: #5F1606C4;
	}
	.navbarmenu li a:hover{
		text-decoration: none;
		font-size: 13px;
		color: white;
		border: 2px solid #662113;
		padding: 4px 4px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #5F16068F;
	}
	.navbar .container{
		height: inherit;
		display: grid;
		text-align: center;
		align-items: center;
		justify-content: space-between;
		margin: auto;
	}
	.corm{
		height: 50px;
	}
	.navbar{
		width: auto;
		height: 70px;
	}
	.left{
		width: auto;
	}
	.left p{
		color:#662113D6;
		font-size: 16px;
		margin-bottom: 10%;
	}
	.left .shop{
		padding: 5px;
		background-color: #5F1606C4;
		border-radius: 22px;
		text-decoration: none;
		color: white;
		font-weight: 700;
		margin-left: 31%;
		font-size: 17px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 1fr;
	}
	.face{
		list-style-type: none;
		padding-left: 0;
		margin-left: 27%;
		margin-top: 10%;
		margin-bottom: 0;
	}
	.face li a{
		color: white;
		background-color: #662113D6;
		text-decoration: none;
		padding: 5px;
		display: flex;
		font-size: 20px;
		align-items: center;
		border-radius: 25px;
	}
}
@media (min-width: 600px) and (max-width: 600px) {
	.navbarmenu li{
		display: inline-block;
		margin-right: auto;
	}
	.food {
		width: auto;
		margin-top: auto;
		margin-bottom: auto;
		border: 6px solid #66211352;
		border-radius: 17px;
		background-color: #fef4e4;
		height: auto;
	}
	.ellipse{
		display: none;
	}
	.left h1{
		font-size: 40px;
		color: #5F1606C4;
		align-items: center;
		margin-top: 7%;
		justify-content: center;
		font-weight: 700;
	}
	.navbarmenu li a{
		text-decoration: none;
		font-size: 14px;
		color: #662113;
		border: 2px solid #662113;
		padding: 10px 10px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #F5F2EC;
	}
	.paw{
		text-decoration: none;
		pointer-events: none;
		font-size: 24px;
		display: flex;
		align-items: center;
 		font-family: "Alegreya Sans", italic;
  		font-weight: 900;
  		font-style: normal;
		color: #5F1606C4;
	}
	.navbar{
		margin-top: 4%;
	}
	.navbarwrap{
		margin-top: 8%;
	}
	.navbarmenu li a:hover{
		text-decoration: none;
		font-size: 13px;
		color: white;
		border: 2px solid #662113;
		padding: 10px 10px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #5F16068F;
	}
	.navbar .container{
		height: inherit;
		display: grid;
		text-align: center;
		align-items: center;
		justify-content: space-between;
		margin: auto;
	}
	.corm{
		height: 50px;
	}
	.navbar{
		width: auto;
		height: 70px;
	}
	.left{
		width: auto;
	}
	.left p{
		color:#662113D6;
		font-size: 16px;
		margin-bottom: 13%;
	}
	.left .shop{
		padding: 15px;
		background-color: #5F1606C4;
		border-radius: 19px;
		text-decoration: none;
		color: white;
		font-weight: 700;
		margin-left: 39%;
		font-size: 17px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 1fr;
	}
	.face{
		list-style-type: none;
		padding-left: 0;
		margin-left: 38%;
		margin-top: 10%;
		margin-bottom: 0;
	}
	.face li a{
		color: white;
		background-color: #662113D6;
		text-decoration: none;
		padding: 5px;
		display: flex;
		font-size: 20px;
		align-items: center;
		border-radius: 25px;
	}
}
@media (min-width: 320px) and (max-width: 320px) {
	.navbarmenu li{
		display: inline-block;
		margin-right: auto;
	}
	.food {
		width: auto;
		margin-top: auto;
		margin-bottom: auto;
		border: 6px solid #66211352;
		border-radius: 17px;
		background-color: #fef4e4;
		height: auto;
	}
	.ellipse{
		display: none;
	}
	.left h1{
		font-size: 40px;
		color: #5F1606C4;
		align-items: center;
		justify-content: center;
		font-weight: 700;
	}
	.navbarmenu li a{
		text-decoration: none;
		font-size: 12px;
		color: #662113;
		border: 2px solid #662113;
		padding: 4px 4px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #F5F2EC;
	}
	.paw{
		text-decoration: none;
		pointer-events: none;
		font-size: 14px;
		display: flex;
		align-items: center;
 		font-family: "Alegreya Sans", italic;
  		font-weight: 900;
  		font-style: normal;
		color: #5F1606C4;
	}
	.navbarmenu li a:hover{
		text-decoration: none;
		font-size: 13px;
		color: white;
		border: 2px solid #662113;
		padding: 4px 4px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #5F16068F;
	}
	.navbar .container{
		height: inherit;
		display: grid;
		text-align: center;
		align-items: center;
		justify-content: space-between;
		margin: auto;
	}
	.corm{
		height: 50px;
	}
	.navbar{
		width: auto;
		height: 70px;
	}
	.left{
		width: auto;
	}
	.left p{
		color:#662113D6;
		font-size: 16px;
		margin-bottom: 10%;
	}
	.left .shop{
		padding: 5px;
		background-color: #5F1606C4;
		border-radius: 22px;
		text-decoration: none;
		color: white;
		font-weight: 700;
		margin-left: 31%;
		font-size: 17px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 1fr;
	}
	.face{
		list-style-type: none;
		padding-left: 0;
		margin-left: 27%;
		margin-top: 10%;
		margin-bottom: 0;
	}
	.face li a{
		color: white;
		background-color: #662113D6;
		text-decoration: none;
		padding: 5px;
		display: flex;
		font-size: 20px;
		align-items: center;
		border-radius: 25px;
	}
}
@media (min-width: 712px) and (max-width: 712px) {
	.navbarmenu li{
		display: inline-block;
		margin-right: auto;
	}
	.food {
		width: auto;
		margin-top: auto;
		margin-bottom: auto;
		border: 6px solid #66211352;
		border-radius: 17px;
		background-color: #fef4e4;
		height: auto;
	}
	.ellipse{
		display: none;
	}
	.left h1{
		font-size: 40px;
		color: #5F1606C4;
		align-items: center;
		margin-top: 7%;
		justify-content: center;
		font-weight: 700;
	}
	.navbarmenu li a{
		text-decoration: none;
		font-size: 14px;
		color: #662113;
		border: 2px solid #662113;
		padding: 10px 10px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #F5F2EC;
	}
	.paw{
		text-decoration: none;
		pointer-events: none;
		font-size: 24px;
		display: flex;
		align-items: center;
 		font-family: "Alegreya Sans", italic;
  		font-weight: 900;
  		font-style: normal;
		color: #5F1606C4;
	}
	.navbar{
		margin-top: 4%;
	}
	.navbarwrap{
		margin-top: 8%;
	}
	.navbarmenu li a:hover{
		text-decoration: none;
		font-size: 13px;
		color: white;
		border: 2px solid #662113;
		padding: 10px 10px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #5F16068F;
	}
	.navbar .container{
		height: inherit;
		display: grid;
		text-align: center;
		align-items: center;
		justify-content: space-between;
		margin: auto;
	}
	.corm{
		height: 50px;
	}
	.navbar{
		width: auto;
		height: 70px;
	}
	.left{
		width: auto;
	}
	.left p{
		color:#662113D6;
		font-size: 16px;
		margin-bottom: 13%;
	}
	.left .shop{
		padding: 15px;
		background-color: #5F1606C4;
		border-radius: 19px;
		text-decoration: none;
		color: white;
		font-weight: 700;
		margin-left: 39%;
		font-size: 17px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 1fr;
	}
	.face{
		list-style-type: none;
		padding-left: 0;
		margin-left: 38%;
		margin-top: 10%;
		margin-bottom: 0;
	}
	.face li a{
		color: white;
		background-color: #662113D6;
		text-decoration: none;
		padding: 5px;
		display: flex;
		font-size: 20px;
		align-items: center;
		border-radius: 25px;
	}
}
@media (min-width: 800px) and (max-width: 800px) {
	.navbarmenu li{
		display: inline-block;
		margin-right: auto;
	}
	.food {
		width: auto;
		margin-top: auto;
		margin-bottom: auto;
		border: 6px solid #66211352;
		border-radius: 17px;
		background-color: #fef4e4;
		height: auto;
	}
	.ellipse{
		display: none;
	}
	.left h1{
		font-size: 40px;
		color: #5F1606C4;
		align-items: center;
		margin-top: 5%;
		justify-content: center;
		font-weight: 700;
	}
	.navbarmenu li a{
		text-decoration: none;
		font-size: 14px;
		color: #662113;
		border: 2px solid #662113;
		padding: 10px 10px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #F5F2EC;
	}
	.paw{
		text-decoration: none;
		pointer-events: none;
		font-size: 24px;
		display: flex;
		align-items: center;
 		font-family: "Alegreya Sans", italic;
  		font-weight: 900;
  		font-style: normal;
		color: #5F1606C4;
	}
	.navbarmenu li a:hover{
		text-decoration: none;
		font-size: 13px;
		color: white;
		border: 2px solid #662113;
		padding: 10px 10px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #5F16068F;
	}
	.navbar .container{
		height: inherit;
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: space-between;
		margin: auto;
	}
	.corm{
		height: 50px;
	}
	.navbar{
		width: auto;
		height: 70px;
	}
	.left{
		width: auto;
	}
	.left p{
		color:#662113D6;
		font-size: 16px;
		margin-bottom: 13%;
	}
	.left .shop{
		padding: 15px;
		background-color: #5F1606C4;
		border-radius: 19px;
		text-decoration: none;
		color: white;
		font-weight: 700;
		margin-left: 39%;
		font-size: 17px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 1fr;
	}
	.face{
		list-style-type: none;
		padding-left: 0;
		margin-left: 38%;
		margin-top: 10%;
		margin-bottom: 0;
	}
	.face li a{
		color: white;
		background-color: #662113D6;
		text-decoration: none;
		padding: 5px;
		display: flex;
		font-size: 20px;
		align-items: center;
		border-radius: 25px;
	}
}
@media (min-width: 384px) and (max-width: 384px) {
	.navbarmenu li{
		display: inline-block;
		margin-right: auto;
	}
	.food {
		width: auto;
		margin-top: auto;
		margin-bottom: auto;
		border: 6px solid #66211352;
		border-radius: 17px;
		background-color: #fef4e4;
		height: auto;
	}
	.ellipse{
		display: none;
	}
	.left h1{
		font-size: 40px;
		color: #5F1606C4;
		align-items: center;
		justify-content: center;
		font-weight: 700;
	}
	.navbarmenu li a{
		text-decoration: none;
		font-size: 12px;
		color: #662113;
		border: 2px solid #662113;
		padding: 4px 4px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #F5F2EC;
	}
	.paw{
		text-decoration: none;
		pointer-events: none;
		font-size: 14px;
		display: flex;
		align-items: center;
 		font-family: "Alegreya Sans", italic;
  		font-weight: 900;
  		font-style: normal;
		color: #5F1606C4;
	}
	.navbarmenu li a:hover{
		text-decoration: none;
		font-size: 13px;
		color: white;
		border: 2px solid #662113;
		padding: 4px 4px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #5F16068F;
	}
	.navbar .container{
		height: inherit;
		display: grid;
		text-align: center;
		align-items: center;
		justify-content: space-between;
		margin: auto;
	}
	.corm{
		height: 50px;
	}
	.navbar{
		width: auto;
		height: 70px;
	}
	.left{
		width: auto;
	}
	.left p{
		color:#662113D6;
		font-size: 16px;
		margin-bottom: 10%;
	}
	.left .shop{
		padding: 5px;
		background-color: #5F1606C4;
		border-radius: 22px;
		text-decoration: none;
		color: white;
		font-weight: 700;
		margin-left: 31%;
		font-size: 17px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 1fr;
	}
	.face{
		list-style-type: none;
		padding-left: 0;
		margin-left: 27%;
		margin-top: 10%;
		margin-bottom: 0;
	}
	.face li a{
		color: white;
		background-color: #662113D6;
		text-decoration: none;
		padding: 5px;
		display: flex;
		font-size: 20px;
		align-items: center;
		border-radius: 25px;
	}
}
@media (min-width: 640px) and (max-width: 640px) {
	.navbarmenu li{
		display: inline-block;
		margin-right: auto;
	}
	.food {
		width: auto;
		margin-top: auto;
		margin-bottom: auto;
		border: 6px solid #66211352;
		border-radius: 17px;
		background-color: #fef4e4;
		height: auto;
	}
	.ellipse{
		display: none;
	}
	.left h1{
		font-size: 40px;
		color: #5F1606C4;
		align-items: center;
		margin-top: 7%;
		justify-content: center;
		font-weight: 700;
	}
	.navbarmenu li a{
		text-decoration: none;
		font-size: 14px;
		color: #662113;
		border: 2px solid #662113;
		padding: 10px 10px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #F5F2EC;
	}
	.paw{
		text-decoration: none;
		pointer-events: none;
		font-size: 24px;
		display: flex;
		align-items: center;
 		font-family: "Alegreya Sans", italic;
  		font-weight: 900;
  		font-style: normal;
		color: #5F1606C4;
	}
	.navbar{
		margin-top: 4%;
	}
	.navbarwrap{
		margin-top: 8%;
	}
	.navbarmenu li a:hover{
		text-decoration: none;
		font-size: 13px;
		color: white;
		border: 2px solid #662113;
		padding: 10px 10px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #5F16068F;
	}
	.navbar .container{
		height: inherit;
		display: grid;
		text-align: center;
		align-items: center;
		justify-content: space-between;
		margin: auto;
	}
	.corm{
		height: 50px;
	}
	.navbar{
		width: auto;
		height: 70px;
	}
	.left{
		width: auto;
	}
	.left p{
		color:#662113D6;
		font-size: 16px;
		margin-bottom: 13%;
	}
	.left .shop{
		padding: 15px;
		background-color: #5F1606C4;
		border-radius: 19px;
		text-decoration: none;
		color: white;
		font-weight: 700;
		margin-left: 39%;
		font-size: 17px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 1fr;
	}
	.face{
		list-style-type: none;
		padding-left: 0;
		margin-left: 38%;
		margin-top: 10%;
		margin-bottom: 0;
	}
	.face li a{
		color: white;
		background-color: #662113D6;
		text-decoration: none;
		padding: 5px;
		display: flex;
		font-size: 20px;
		align-items: center;
		border-radius: 25px;
	}
}
@media (min-width: 353px) and (max-width: 353px) {
	.navbarmenu li{
		display: inline-block;
		margin-right: auto;
	}
	.food {
		width: auto;
		margin-top: auto;
		margin-bottom: auto;
		border: 6px solid #66211352;
		border-radius: 17px;
		background-color: #fef4e4;
		height: auto;
	}
	.ellipse{
		display: none;
	}
	.left h1{
		font-size: 40px;
		color: #5F1606C4;
		align-items: center;
		justify-content: center;
		font-weight: 700;
	}
	.navbarmenu li a{
		text-decoration: none;
		font-size: 12px;
		color: #662113;
		border: 2px solid #662113;
		padding: 4px 4px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #F5F2EC;
	}
	.paw{
		text-decoration: none;
		pointer-events: none;
		font-size: 14px;
		display: flex;
		align-items: center;
 		font-family: "Alegreya Sans", italic;
  		font-weight: 900;
  		font-style: normal;
		color: #5F1606C4;
	}
	.navbarmenu li a:hover{
		text-decoration: none;
		font-size: 13px;
		color: white;
		border: 2px solid #662113;
		padding: 4px 4px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #5F16068F;
	}
	.navbar .container{
		height: inherit;
		display: grid;
		text-align: center;
		align-items: center;
		justify-content: space-between;
		margin: auto;
	}
	.corm{
		height: 50px;
	}
	.navbar{
		width: auto;
		height: 70px;
	}
	.left{
		width: auto;
	}
	.left p{
		color:#662113D6;
		font-size: 16px;
		margin-bottom: 10%;
	}
	.left .shop{
		padding: 5px;
		background-color: #5F1606C4;
		border-radius: 22px;
		text-decoration: none;
		color: white;
		font-weight: 700;
		margin-left: 31%;
		font-size: 17px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 1fr;
	}
	.face{
		list-style-type: none;
		padding-left: 0;
		margin-left: 27%;
		margin-top: 10%;
		margin-bottom: 0;
	}
	.face li a{
		color: white;
		background-color: #662113D6;
		text-decoration: none;
		padding: 5px;
		display: flex;
		font-size: 20px;
		align-items: center;
		border-radius: 25px;
	}
}
@media (min-width: 240px) and (max-width: 240px) {
	.navbarmenu li{
		display: inline-block;
		margin-right: auto;
	}
	.food {
		width: auto;
		margin-top: auto;
		margin-bottom: auto;
		border: 6px solid #66211352;
		border-radius: 17px;
		background-color: #fef4e4;
		height: auto;
	}
	.ellipse{
		display: none;
	}
	.left h1{
		font-size: 40px;
		color: #5F1606C4;
		align-items: center;
		justify-content: center;
		font-weight: 700;
	}
	.navbarmenu li a{
		text-decoration: none;
		font-size: 12px;
		color: #662113;
		border: 2px solid #662113;
		padding: 4px 4px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #F5F2EC;
	}
	.paw{
		text-decoration: none;
		pointer-events: none;
		font-size: 14px;
		display: flex;
		align-items: center;
 		font-family: "Alegreya Sans", italic;
  		font-weight: 900;
  		font-style: normal;
		color: #5F1606C4;
	}
	.navbarmenu li a:hover{
		text-decoration: none;
		font-size: 13px;
		color: white;
		border: 2px solid #662113;
		padding: 4px 4px;
		border-radius: 13px;
		font-weight: 700;
		background-color: #5F16068F;
	}
	.navbar .container{
		height: inherit;
		display: grid;
		text-align: center;
		align-items: center;
		justify-content: space-between;
		margin: auto;
	}
	.corm{
		height: 50px;
	}
	.navbar{
		width: auto;
		height: 70px;
	}
	.left{
		width: auto;
	}
	.left p{
		color:#662113D6;
		font-size: 16px;
		margin-bottom: 10%;
	}
	.left .shop{
		padding: 5px;
		background-color: #5F1606C4;
		border-radius: 22px;
		text-decoration: none;
		color: white;
		font-weight: 700;
		margin-left: 31%;
		font-size: 17px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 1fr;
	}
	.face{
		list-style-type: none;
		padding-left: 0;
		margin-left: 27%;
		margin-top: 10%;
		margin-bottom: 0;
	}
	.face li a{
		color: white;
		background-color: #662113D6;
		text-decoration: none;
		padding: 5px;
		display: flex;
		font-size: 20px;
		align-items: center;
		border-radius: 25px;
	}
}